@model Insureity_Portal.Models.PolicyDetails

@{
    ViewData["Title"] = "Policy Details";
}

<div>
    <h4>Policy Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsumerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsumerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsumerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsumerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcceptedQuotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcceptedQuotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcceptanceStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcceptanceStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EffectiveDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EffectiveDate)
        </dd>
    </dl>
</div>

